.usersetnewpassword{
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: fixed;
  width: 100%;
  min-height: 95vh ;
  overflow: auto;
  background-image: url('../../../assets/images/profileBackground.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
label{
    font-weight: 700;
}

.alert {
  margin-bottom: 4px;
  min-height: 30px;
  line-height:17px;
  padding:1px 10px;
}
.alert P{
  font-size: 13px;
  font-weight: bold;
}
p{
  margin-bottom: 0;
}
.request-otp-box{
  /* border: 1px solid rgb(172 168 168 / 43%); */
  box-sizing: border-box;
  border: 1px solid #ddd;
  padding: 15px;
  /* box-shadow: 0 10px 30px 0 rgb(172 168 168 / 43%); */
}
.back-login-div p {
  font-size: 13px;
  font-weight: 700;

}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.auth-header{
  font-weight: 700;
  font-size: 18px; 
}

.auth-para{
  font-size: 13.5px;
  line-height: 19px;
  font-weight: 500;
  margin-bottom: 8px;
}
.btn{
  font-weight: 700;

}