<div class="usersetnewpassword">
    <main class="d-flex align-items min-vh-100 py-3 py-md-0">
        <div class="container">
            <div class="card-body">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-6 card">
                        <div *ngIf="passwordValidity" class="card-body">
                            <div style="border: 1px solid #c40000; box-sizing: border-box; padding: 10px;box-shadow: 0 0 0 4px #fcf4f4 inset;" >
                                <div class="alert alert-danger">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <i class="material-icons">&#xe002;</i>
                                        </div>
                                        <div class="col-md-10">
                                            <h6>There was a propblem</h6>
                                            <p>{{errorMessage}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h4>Set new password</h4>
                            <form #setnewpassword="ngForm" class="request-otp-box" (ngSubmit)="setnewpassword.valid && onSubmit(setnewpassword)" >
                                <div class="form-group">
                                    <input type="text" name="req" #req="ngModel" [(ngModel)]="model.req" hidden>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="email" #email="ngModel" [(ngModel)]="model.email" hidden>
                                </div>
                                <div class="form-group">
                                    <label for="password" >Enter new password</label>
                                    <input type="password"
                                     name="password" #password="ngModel" [(ngModel)]="model.password" 
                                     class="form-control" id="password"
                                      placeholder="***********"
                                      [ngClass]="{'invalid-text': setnewpassword.submitted && !password.valid }" 
                                      
                                      required>
                                     <div *ngIf="password.invalid && (setnewpassword.submitted || password.touched)" class="bg-danger" style="margin-top: 10px;" >
                                        <label class="text-light" *ngIf="password.errors.required">Password is required</label>
                                        <label class="text-light" *ngIf="password.errors.pattern"> Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters.</label>
                                     </div>
                                </div>
                                <div class="form-group">
                                    <label for="confirmpassword" >Confirm new password</label>
                                    <input type="text" name="confirmpassword" #confirmpassword="ngModel" [(ngModel)]="model.confirmpassword" class="form-control" id="confirmpassword" placeholder=""
                                      [ngClass]="{'invalid-text': setnewpassword.submitted && !confirmpassword.invalid }" pattern="{{password.value}}" autocomplete="off" required>
                                      <div *ngIf="confirmpassword.invalid && (setnewpassword.submitted || confirmpassword.touched)" class="bg-danger" style="margin-top: 10px;" >
                                        <label class="text-light" *ngIf="confirmpassword.errors.required">Confirm password must be fill</label>
                                        <label class="text-light" *ngIf="confirmpassword.errors.pattern">Password and Confirm Password must be match.</label>
                                     </div>
                                </div>
                                <input type="submit" class="btn btn-block btn-warning md-4 " id="getOtpBtn" value="Confirm & Submit">
                            </form>
                            
                            <div class="back-login-div">
                                
                            </div>
                            <br>
                            <div *ngIf="passwordSet" class="alert alert-success" >
                                <p class="text-danger" >Password has updated, now you can use new password...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
