<div class="enter-id">
    <main class="d-flex align-items min-vh-100 py-3 py-md-0">
        <div class="container">
            <div class="card-body">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-6 card">
                        <div *ngIf="emailValidity" class="card-body">
                            <div style="border: 1px solid #c40000; box-sizing: border-box; padding: 10px;box-shadow: 0 0 0 4px #fcf4f4 inset;" >
                                <div class="alert alert-danger">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <i class="material-icons">&#xe002;</i>
                                        </div>
                                        <div class="col-md-10">
                                            <h6>There was a propblem</h6>
                                            <p>{{errorMessage}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h4>Password assistance</h4>
                            <form #forgotPassword="ngForm" class="request-otp-box" (ngSubmit)="forgotPassword.valid && onSubmit(forgotPassword) " >
                                <div class="form-group">
                                    <input type="text" name="req" #req="ngModel" [(ngModel)]="model.req" hidden>
                                </div>
                                <div class="form-group">
                                    <label for="email" >Enter your email-id</label>
                                    <input type="email" name="email" #email="ngModel" [(ngModel)]="model.email" class="form-control" id="email" placeholder=""
                                     [pattern]="emailRegex" [ngClass]="{'invalid-text': forgotPassword.submitted && !email.valid }" required>
                                     <div *ngIf="forgotPassword.submitted && email.errors" class="bg-danger" style="margin-top: 10px;" >
                                        <label class="text-light" *ngIf="email.errors.required">Email is required</label>
                                        <label class="text-light" *ngIf="email.errors.pattern">Email-id is invaild</label>
                                     </div>
                                </div>
                                <input type="submit" class="btn btn-block btn-warning md-4 " id="getOtpBtn" value="{{otpBtnName}}">
                            </form>
                            
                            <div class="back-login-div">
                                <p *ngIf="OTPTiming" >You can request for a new OTP after {{OTPTiming}} second(s)</p>
                                <p>Back to login? <a routerLink="/login">Click here</a> </p>
                            </div>
                            <br>
                            <div *ngIf="otpSend" class="alert alert-success" >
                                <p class="text-danger" >OTP has send, we are redirecting you...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
